
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    font-family: "Nunito", sans-serif;
    background-color: #f8f8f8;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}
#suggestions-container {
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 999;
    display: none; 
}
.autocomplete-suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}


.top-bar {
    background-color: #FADCD9;
    color: #000;
    padding: 6px;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid #E9C1BC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


.top-bar .promo {
    display: flex;
    flex-wrap: nowrap;
    animation: scrollLeft 20s linear infinite;
    gap: 100px;
}


.top-bar .promo .promo-text {
    font-weight: 500;
    white-space: nowrap;
    padding-right: 50px;
}


.top-bar .promo .shop-now {
    color: #FB6B90;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
    animation: moveText 1.5s ease-in-out infinite;
}

.top-bar .promo .shop-now:hover {
    color: #B71540;
}


@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.top-bar .promo:hover {
    animation-play-state: paused;
}


.middle-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 25px 30px;
    border-bottom: 1px solid #ddd;
}


.middle-center {
    position: absolute;

}

.middle-center .logo {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Orbitron", serif;
    display: flex;
    border: none;
    text-decoration: none;

}
.middle-center .logo span {
    color: #D91656;
   
    font-family: "Orbitron", serif;
}

.middle-center .logo {
    color: #000;
 
}


.middle-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
   
}

.middle-right .icon {
    position: relative;
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.3s ease, color 0.3s ease
}


.middle-right .icon:hover {
    color: #D91656;

}


.search-bar-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: white;
    color: #333;
    padding: 30px;
    z-index: 1000;
    transition: top 0.3s ease;
    text-align: center;
}

.search-bar-container h3 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40px;
}

.search-bar-container input[type="text"] {
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    background-color: #fff;
    color: #333;
    border: 2px solid #D91656;
    border-radius: 25px;
    font-size: 1.2rem;
}

.search-bar-container button {
    padding: 12px 20px;
    background-color: #D91656;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
}

.search-bar-container button:hover {
    background-color: #B71540;
}


.close-search {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
}




.bottom-nav {
    background-color: #000;
    padding: 10px 20px;
}

.bottom-nav .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 0;
    margin: 0;
}

.bottom-nav .navbar li {
    margin: 0 15px;
    position: relative;
    
}


.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content a {
    color: #fff;

    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    margin-top: 10px;
}

.dropdown-content a:hover {
    background-color: lightgrey;
    
}


.dropdown.active .dropdown-content {
    display: block;
}

.bottom-nav .navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}


.bottom-nav .navbar a:hover {
    color: #D91656;
}


.bottom-nav .navbar i {
    font-size: 1.1rem;
}


.bottom-nav .navbar a:hover i {
    color: #D91656;

}























@media (max-width: 768px) {


    .top-bar {
        font-size: 0.9rem;
        padding: 5px;
    }

   
    .top-bar .promo {
        gap: 50px;
        font-size: 0.9rem;
    }

    .top-bar .promo .promo-text {
        padding-right: 30px;
    }

    .top-bar .promo .shop-now {
        font-size: 1rem;
    }

    
    .middle-bar {
        padding: 15px;
    }

    
    .middle-center .logo {
        font-size: 1.5rem;
        padding-left: 15px;
    }

    .middle-center .logo span {
        font-size: 1.5rem;

    }

    .middle-right {
        gap: 10px;
    }

    .middle-right .icon {
        font-size: 1.2rem;
    }


    .search-bar-container {
        padding: 15px;
        height: 30%;
    }

    .search-bar-container h3 {
        font-size: 2rem;
    }

    .search-bar-container input[type="text"] {
        width: 70%;
    }

    .search-bar-container button {
        font-size: 1rem;
    }

    .close-search {
        font-size: 1.5rem;
    }


    .bottom-nav {
        padding: 8px 10px;
    }

    .bottom-nav .navbar {
        gap: 30px;
    
    }

    .bottom-nav .navbar li {
        margin: 0 10px;
    }

  
    .dropdown-content {
        min-width: 120px;
    }

    .bottom-nav .navbar a {
        font-size: 0.9rem;

    }


    .bottom-nav .navbar i {
        font-size: 1rem;
        
    }
}


@media (min-width: 768px) and (max-width: 1024px) {


    .top-bar {
        font-size: 1rem;
    }

    .top-bar .promo {
        gap: 80px;
    }

    .top-bar .promo .shop-now {
        font-size: 1.1rem;
    }

 
    .middle-bar {
        padding: 20px;
    }

    .middle-center .logo {
        font-size: 1.8rem;
    }

    .middle-right {
        gap: 15px;
    }

    .middle-right .icon {
        font-size: 1.4rem;
    }


    .bottom-nav {
        padding: 10px 20px;
    }

    .bottom-nav .navbar {
        gap: 100px;
    }

    .bottom-nav .navbar li {
        margin: 0 15px;
    }


    .dropdown-content {
        min-width: 140px;
    }

    .bottom-nav .navbar a {
        font-size: 1rem;
    }

    .bottom-nav .navbar i {
        font-size: 1.1rem;
    }
}


@media (min-width: 1024px) {

   
    .top-bar {
        font-size: 1rem;
        padding: 6px;
    }

    .top-bar .promo {
        gap: 100px;
    }

    .top-bar .promo .shop-now {
        font-size: 1.2rem;
    }


    .middle-bar {
        padding: 25px 30px;
    }

    .middle-center .logo {
        font-size: 2rem;
    }

    .middle-right {
        gap: 20px;
    }

    .middle-right .icon {
        font-size: 1.5rem;
    }


    .bottom-nav {
        padding: 10px 20px;
    }

    .bottom-nav .navbar {
        gap: 150px;
    }

    .bottom-nav .navbar li {
        margin: 0 15px;
    }


    .dropdown-content {
        min-width: 160px;
    }

    .bottom-nav .navbar a {
        font-size: 1rem;
    }

    .bottom-nav .navbar i {
        font-size: 1.1rem;
    }
}



















.footer-about .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    font-family: "Orbitron", sans-serif;
}

.footer-about .logo span {
    color: #D91656;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
}

.footer-about p {
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}

.copy {
    color: #000;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.copyright {
    color: #D91656;
    font-weight: bold;
}

.footer {
    background-color: #333;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 80px;
}


.footer-links h4,
.footer-contact h4,
.footer-social h4,
.footer-service h4 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #D91656;
}

.footer-links ul,
.footer-service ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li,
.footer-service ul li {
    margin-bottom: 15px;
}

.footer-links ul li a,
.footer-service ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.footer-links ul li a:hover,
.footer-service ul li a:hover {
    color: #FADCD9;
}


.footer-service ul {
    padding: 0;
}

.footer-contact p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #ccc;
}

.footer-contact i {
    margin-right: 10px;
    color: #D91656;
}

.footer-social .social-icons a {
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding-right: 20px;
}

.footer-social .social-icons a:hover {
    color: #FADCD9;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: #ccc;
    border-top: 1px solid #444;
}

.footer-bottom span {
    font-family: "Orbitron", sans-serif;
}